// COLORS

// PRIMARY

$clr-dark-blue-600: hsl(219, 30%, 18%);
$clr-dark-blue-700: hsl(217, 28%, 15%);
$clr-dark-blue-800: hsl(218, 28%, 13%);
$clr-dark-blue-900: hsl(216, 53%, 9%);

// ACCENT

$clr-acc-cyan: hsl(176, 68%, 64%);
$clr-acc-blue: hsl(198, 60%, 50%);
$clr-acc-red: hsl(0, 100%, 63%);

// NEUTRAL

$clr-white: hsl(0, 0%, 100%);


// FONTS

$ff-heading: 'Raleway', sans-serif;
$ff-main: 'Open Sans', sans-serif;